// Variables
@import "../_framework/variables/layout";
@import "../_framework/variables/colour";
@import "../_framework/variables/font";

// Mixins
@import "../_framework/mixins/animation";
@import "../_framework/mixins/gradients";

// global
.animate {
	transition: all 0.3s $transition-easeInOutQuad;
}

.map {
	margin-top: $unit * 5;
	//svg {overflow: visible !important;}
}

// Layout
.wrapper {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	position: relative;
	display: block;
}

.container {
	width: 100%;
	max-width: $minbody;
	margin: 0 auto;
	padding: $unit * 10;
	&.mapContainer{
		padding-top:0;
		padding-bottom:0;
		margin-top: -$unit * 10;
	}
}


.title{
	h1,h2,h3,h4,h5,h6{
		text-transform: capitalize;
	}
}
// Screen ( over & under )

.bg-image {
	@include cover;
	@include backgroundImage;
}
.overlay {
	@include cover;
}

#pageContent {
	width: 100vw;
	position: relative;
	display: flex;
	overflow: hidden;
	.splitLeft,
	.splitRight {
		width: 50%;
		height: 100%;
	}
}

.b-lazy {
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0;
	&.b-loaded {opacity: 1;}
}

@media only screen and (max-width: $maxbody) {
}
@media only screen and (max-width: $minbody) {
}
@media only screen and (max-width: $tablet) {
	.container {
		padding: $unit * 5;
	}
}
@media only screen and (max-width: $mobile) {
}
