<section id="newsletter">
   <div class="container typography">

      <h3>Join our newsletter and never miss a trip.</h3>
      <h4 class="highlight">We believe in a spam free inbox. That's why we will never send you more than one email a week. If you want more frequent
         updates, consider checking out our Facebook or Instagram.</h4>

      <form id="newsletterForm">
         <input required type="email" name="email" id="email" required type="email" placeholder="your@awesome-email.com" />
         <input class="newsletterButton" type="submit" value="Sign me up!">
      </form>

   </div>
</section>



<footer>

   <div id="instafeed"></div>

   <div class="container">
      <h6>&copy; {{ site.time | date: '%Y' }} <span>Six Feet Over</span>. All Rights Reserved.</h6>
   </div>

</footer>