<section id="newsletter">
   <div class="container typography">

      <h3>Join our newsletter and never miss a trip.</h3>
      <h4 class="highlight">Never miss a flight, a meal, or a photo! Bring Six Feet Over to the convenience of your inbox by signing up for our mailing
      list. But don’t worry: we’ll never bombard you with emails, but rather a weekly “你好” or “Hello!”</h4>


      
      <!--<form id="newsletterForm">
         <input required type="email" name="email" id="email" required type="email" placeholder="your@awesome-email.com" />
         <input class="newsletterButton" type="submit" value="Sign me up!">
      </form>-->
      
      <form id="newsletterForm" action="//sixftover.us13.list-manage.com/subscribe/post?u=38de25d6e0e2ba0d247b9933c&amp;id=8c44c85d67" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
         <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@awesome-email.com">
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_38de25d6e0e2ba0d247b9933c_8c44c85d67" tabindex="-1" value="">
         </div>
         <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button newsletterButton">
         
         

         <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
         </div>
      </form>

   </div>
</section>

<footer>

   <div id="instafeed"></div>

   <div class="container">
      <h6>&copy; {{ site.time | date: '%Y' }} <span>Six Feet Over</span>. All Rights Reserved.</h6>
   </div>

</footer>