<!-- jbLazy, lazy load images -->
<script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js" type="text/javascript"></script>
 <script>
     ;(function() {
         // Initialize
         var bLazy = new Blazy({
             //container: '#scrolling-container' // Default is window
         });
        })();



</script>


<!-- Instafeed, instagram images -->
<script src="{{ site.url }}{{ site.baseurl }}js/instafeed.min.js" type="text/javascript"></script>
<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: '5453885940',
        limit: '6',
        sortBy: 'most-recent',
        resolution: 'standard_resolution',
        accessToken: '5453885940.ecd67b3.8a01a526df134951ae7349de8ad5a618',
        //template: '<a class="instagramPhoto" href="{{link}}"><img src="{{image}}" /></a>'
    });
    userFeed.run();

</script>


<!-- Native Typed, typing title -->
<script src="{{ site.url }}{{ site.baseurl }}js/native-typed.min.js" type="text/javascript"></script>
<script>
    new NTyped(document.querySelector('#typing'), {
        strings: ['Six Feet Over.', 'tasting new food.', 'exploring new cities.', 'taking photos.'],
        typeSpeed: 30,
        deleteSpeed: 15,
        loop: true
    });
</script>


<!-- World Map --
<script src="{{ site.url }}{{ site.baseurl }}/js/mapdata.js" type="text/javascript"></script>		
<script src="{{ site.url }}{{ site.baseurl }}/js/worldmap.js" type="text/javascript"></script>-->
<script src='https://www.gstatic.com/charts/loader.js' type='text/javascript'></script>
<script src='https://www.google.com/jsapi' type='text/javascript'></script>
<script type='text/javascript'>
    google.charts.load('42', { 'packages': ['geochart'] });
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Country');
        data.addColumn('number', 'Value');
        data.addColumn({ type: 'string', role: 'tooltip' }); var ivalue = new Array();

        data.addRows([[{ v: 'GB', f: 'United Kingdom' }, 0, '']]);
        ivalue['GB'] = '';

        data.addRows([[{ v: 'US', f: 'United States' }, 1, '']]);
        ivalue['US'] = '';

        data.addRows([[{ v: 'CN', f: 'China' }, 2, '']]);
        ivalue['CN'] = '';

        data.addRows([[{ v: 'KR', f: 'South Korea' }, 3, '']]);
        ivalue['KR'] = '';

        data.addRows([[{ v: 'BE', f: 'Belgium' }, 4, '']]);
        ivalue['BE'] = '';

        data.addRows([[{ v: 'IT', f: 'Italy' }, 5, '']]);
        ivalue['IT'] = '';

        data.addRows([[{ v: 'IS', f: 'Iceland' }, 6, '']]);
        ivalue['IS'] = '';

        var options = {
            backgroundColor: { fill: 'transparent', stroke: '#17172e', strokeWidth: '1px' },
            colorAxis: { minValue: 0, maxValue: 6, colors: ['#7E7EE6', '#7E7EE6', '#7e7ee6', '#7e7ee6', '#7e7ee6', '#7e7ee6', '#7e7ee6'] },
            legend: 'none',
            datalessRegionColor: '#e9e9f0',
            displayMode: 'regions',
            enableRegionInteractivity: 'true',
            resolution: 'countries',
            sizeAxis: { minValue: 1, maxValue: 1, minSize: 10, maxSize: 10 },
            region: 'world',
            keepAspectRatio: true,
            width: null,
            height: null,
            tooltip: { textStyle: { color: '#7E7EE6' }, trigger: 'focus', isHtml: false }
        };
        var chart = new google.visualization.GeoChart(document.getElementById('visualization'));
        google.visualization.events.addListener(chart, 'select', function () {
            var selection = chart.getSelection();
            if (selection.length == 1) {
                var selectedRow = selection[0].row;
                var selectedRegion = data.getValue(selectedRow, 0);
                if (ivalue[selectedRegion] != '') { document.location = ivalue[selectedRegion]; }
            }
        });
        chart.draw(data, options);
    }
    window.onresize = function (event) {
        drawVisualization();
    };
</script>



<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/style.css">



