<!-- jbLazy, lazy load images -->
<script type='text/javascript'>
     ;(function() {
         // Initialize
         var bLazy = new Blazy({
             //container: '#scrolling-container' // Default is window
         });
        })();



</script>


<!-- Instafeed, instagram images -->
<script type='text/javascript'>
    var userFeed = new Instafeed({
        get: 'user',
        userId: '5453885940',
        limit: '6',
        sortBy: 'most-recent',
        resolution: 'thumbnail',
        accessToken: '5453885940.ecd67b3.8a01a526df134951ae7349de8ad5a618',
        template: '<a href="{{ "{{ link " }}}}" target-"_blank"><img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ "{{ image " }}}}" alt="{{ "{{ location " }}}}" /></a>'
    });
    userFeed.run();

    
</script>


<!-- Native Typed, typing title -->
<script type='text/javascript'>
    new NTyped(document.querySelector('#typing'), {
        strings: ['Six Feet Over.', 'tasting new food.', 'exploring new cities.', 'taking photos.'],
        typeSpeed: 30,
        deleteSpeed: 15,
        loop: true
    });
</script>


<!-- World Map -->
<script type='text/javascript'>
    google.charts.load('42', {'packages':['geochart']});
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Value'); 
        data.addColumn({type:'string', role:'tooltip'});var ivalue = new Array();
            
            {% for continent in site.data.locations %}
                {% for country in continent.countries %}
                    data.addRows([[{ v: '{{ country.code }}', f: '{{ country.name }}' }, {{ country.order }}, '']]);
                    ivalue['{{ country.code }}'] = '{{ country.url }}';
                {% endfor %}
            {% endfor %}
            
        var options = {
            backgroundColor: {fill:'transparent',stroke:'transparent' ,strokeWidth:'1px' },
            colorAxis:  {minValue: 0, maxValue: 6,  colors: [
                
                {% for continent in site.data.locations %}
                    {% for country in continent.countries %}
                        '#{{ site.brand_colour }}',
                    {% endfor %}
                {% endfor %}
                ]},
            legend: 'none',	
            datalessRegionColor: 'white',
            displayMode: 'regions', 
            enableRegionInteractivity: 'true', 
            resolution: 'countries',
            sizeAxis: {minValue: 1, maxValue:1,minSize:10,  maxSize: 10},
            region:'world',
            keepAspectRatio: true,
            width:null,
            height:null,
            tooltip: {textStyle: {color: '#{{ site.brand_colour }}'}, trigger:'focus', isHtml: false}	
        };
        var chart = new google.visualization.GeoChart(document.getElementById('visualization')); 
        google.visualization.events.addListener(chart, 'select', function() {
            var selection = chart.getSelection();
            if (selection.length == 1) {
                var selectedRow = selection[0].row;
                var selectedRegion = data.getValue(selectedRow, 0);
                if(ivalue[selectedRegion] != '') { document.location = ivalue[selectedRegion];  }
            }
        });
        chart.draw(data, options);
    }
    window.onresize = function(event) {
        drawVisualization();
    };
</script>









