---
date: ''
description: 'Who says that travel is merely a bucket list hobby? We say that each
  country is an accomplishment and with each adventure, we get to know the world a
  little better. '
layout: global
pageID: locationsPage
permalink: "/locations/"
title: Locations
date: ''
---

{% include headerDefault.html %}

<section class="container mapContainer">
   {% include map.html %}
</section>

<section id="pageContent" class="container">

   <ul class="visitedList">

      {% for continent in site.continents %}
      <li class="visitedContinent">{{ continent.title }}
         <ul class="visitedCountryList">

            {% for country in site.countries %}
            
               {% if country.continent == continent.title %}
                  <li class="visitedCountry" id="{{ country.code }}"><a href="{{ country.url }}">{{ country.title }}</a></li>
               {% endif %}
               
            {% endfor %}

         </ul>
      </li>
      {% endfor %}

   </ul>

</section>