<a class="card card-article" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
	<div class="title">

		<h6>{{ post.date | date: "%-d %B %Y" }}</h6>
		<h3>{{ post.title }}</h3>
		
		<ul class="articleMeta topics">
			{% include post_topics.html %}
		</ul>

		<ul class="articleMeta locations">
			{% include post_locations.html %}
		</ul>

	</div>
	<div class="overlay"></div>
	<div
		class="b-lazy bg-image" 
		src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
		data-src="{{ site.url }}{{ site.baseurl }}{{ post.thumbnail }}|{{ site.url }}{{ site.baseurl }}{{ post.thumbnailRetina }}"

		width="1280"
		height="720"
		alt="{{ post.city }},{{ post.country }}, {{ post.continent }}: {{ post.title }}"
	></div>

</a>