<a class="card card-article" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
	<div class="title">

		<h6>{{ post.date }}</h6>
		<h3>{{ post.title }}</span>
		</h3>

		<ul class="articleMeta">

			

			{% include post_locations.html %}
			{% include post_topics.html %}

		</ul>

	</div>
	<div class="overlay"></div>
	<img
		class="b-lazy" 
		src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
		data-src="{{ site.url }}{{ site.baseurl }}{{ post.thumbnail }}|{{ site.url }}{{ site.baseurl }}{{ post.thumbnailRetina }}"

		width="1280"
		height="720"
		alt="{{ post.city }},{{ post.country }}, {{ post.continent }}: {{ post.title }}"
	/>

</a>