---
layout: -global
---
<header>
	{% include global/_nav.html %}
	{% include header_title.html %}
</header>

{{ content }}

<footer>
	{% include global/_footer.html %}
</footer>


<!-- imports -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.unveil.js"></script>
<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/style.css">

<!-- scripts -->
<script>
	$(document).ready(function() {
		$("img").unveil();
	});
</script>
